body {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Lucas_Cranach_-_Der_Jungbrunnen_%28Gem%C3%A4ldegalerie_Berlin%29.jpg/2880px-Lucas_Cranach_-_Der_Jungbrunnen_%28Gem%C3%A4ldegalerie_Berlin%29.jpg);
	background-position: center;
	background-size: cover;
	overflow: hidden;
	margin: 0;
    background-repeat: repeat-y;
}

.blur {
	position: absolute;
	height: 100vh;
	width: 100vw;
	backdrop-filter: blur(4px);
	z-index: 1;
}

#header {
    background-color: aquamarine;
}